:root {
    --green-900: #064e3b;
    --green-800: #065f46;
    --green-700: #047857;
    --green-600: #059669;
    --green-500: #10b981;
    --green-400: #34d399;
    --green-300: #6ee7b7;
    --green-200: #a7f3d0;
    --green-100: #d1fae5;
    --green-50: #ecfdf5;
}

body {
    background-color: #1f2937;
    text-align: left;
    margin: 52px;
    font-family: 'Karla', sans-serif;
    color: #fff;
}

h1 {
    margin-top: 0;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
}

h1 span {
    color: var(--green-400);
    display: block
}

.tagline {
    color: #D5D4D8;
    font-family: 'Karla', sans-serif;
}

#pass-length {
    background: transparent;
    border: none;
    color: var(--green-300);
}

button {
    border-radius: 6px;
    background: var(--green-500);
    border: transparent;
    padding: 9px 17px;
    font-size: 16px;
    margin: 25px 0px;
    color: inherit;
}

.line { 
    border: solid 1px #2F3E53;
    max-width: 370px;
    margin: 10px 0;
}

.pass {
    color: #55F991;
    background-color: #273549;
    display: inline-block;
    min-width: 144px;
    margin: 10px 0px 10px 0px;
    padding: 10px 15px;
    text-align: center;
    border-radius: 6px;
    appearance: none;
    transition: background-color 0.75s ease-out;
}

.pass-copied {
    background-color: var(--green-900);
    transition-duration: 0s;
}